* text=auto !eol
/accesrestreint_administrations.php -text
/accesrestreint_fonctions.php -text
/accesrestreint_options.php -text
/accesrestreint_pipelines.php -text
action/acceder_document.php -text
action/affecter_zone.php -text
action/api_docrestreint.php -text
action/autoriser.php -text
action/editer_zone.php -text
action/retirer_zone.php -text
action/supprimer_zone.php -text
base/accesrestreint.php -text
demo/intro_article.html -text
demo/tests.html -text
formulaires/configurer_accesrestreint.html -text
formulaires/configurer_accesrestreint.php -text
formulaires/editer_zone.html -text
formulaires/editer_zone.php -text
formulaires/inc-select_rubriques.html -text
formulaires/inc-select_zones.html -text
inc/accesrestreint.php -text
inc/accesrestreint_autoriser.php -text
inc/accesrestreint_documents.php -text
lang/accesrestreint.xml -text
lang/accesrestreint_ar.php -text
lang/accesrestreint_ast.php -text
lang/accesrestreint_br.php -text
lang/accesrestreint_ca.php -text
lang/accesrestreint_de.php -text
lang/accesrestreint_en.php -text
lang/accesrestreint_es.php -text
lang/accesrestreint_eu.php -text
lang/accesrestreint_fa.php -text
lang/accesrestreint_fr.php -text
lang/accesrestreint_fr_tu.php -text
lang/accesrestreint_gl.php -text
lang/accesrestreint_it.php -text
lang/accesrestreint_ja.php -text
lang/accesrestreint_lb.php -text
lang/accesrestreint_nl.php -text
lang/accesrestreint_oc_ni_mis.php -text
lang/accesrestreint_pt_br.php -text
lang/accesrestreint_ro.php -text
lang/accesrestreint_sk.php -text
lang/accesrestreint_sv.php -text
lang/accesrestreint_tr.php -text
lang/paquet-accesrestreint.xml -text
lang/paquet-accesrestreint_de.php -text
lang/paquet-accesrestreint_en.php -text
lang/paquet-accesrestreint_es.php -text
lang/paquet-accesrestreint_fr.php -text
lang/paquet-accesrestreint_fr_tu.php -text
lang/paquet-accesrestreint_ja.php -text
lang/paquet-accesrestreint_nl.php -text
lang/paquet-accesrestreint_pt_br.php -text
lang/paquet-accesrestreint_sk.php -text
/paquet.xml -text
prive/objets/liste/zones_associer.html -text
prive/objets/liste/zones_lies.html -text
prive/squelettes/contenu/configurer_accesrestreint.html -text
prive/squelettes/contenu/zone_edit.html -text
prive/squelettes/contenu/zones.html -text
prive/squelettes/inclure/acces_auteur.html -text
prive/squelettes/inclure/acces_restreint.html -text
prive/squelettes/inclure/acces_rubrique.html -text
prive/squelettes/navigation/configurer_accesrestreint.html -text
prive/squelettes/navigation/zone_edit.html -text
prive/squelettes/navigation/zones.html -text
prive/style_prive_plugin_accesrestreint.html -text
prive/themes/spip/images/acces-interdit-48.png -text svneol=unset#unset
prive/themes/spip/images/acces-interdit-xx.svg -text
prive/themes/spip/images/acces-ok-48.png -text svneol=unset#unset
prive/themes/spip/images/acces-ok-xx.svg -text
prive/themes/spip/images/accesrestreint-64.png -text svneol=unset#unset
prive/themes/spip/images/accesrestreint-xx.svg -text
prive/themes/spip/images/cadenasouvert-16.png -text
prive/themes/spip/images/cadenasouvert-24.png -text
prive/themes/spip/images/cadenasouvert-32.png -text
prive/themes/spip/images/cadenasouvert-xx.svg -text
prive/themes/spip/images/restreint-16.png -text
prive/themes/spip/images/restreint-xx.svg -text
prive/themes/spip/images/zone-16.png -text
prive/themes/spip/images/zone-24.png -text
prive/themes/spip/images/zone-32.png -text
prive/themes/spip/images/zone-xx.svg -text
public/accesrestreint.php -text
saisies/zones.html -text
urls/generer_url_document.php -text
