* text=auto !eol
action/forcer_install_import_ics.php -text
action/supprimer_evenements_almanach.php -text
action/synchro_almanach.php -text
base/import_ics.php -text
formulaires/configurer_import_ics.html -text
formulaires/editer_almanach.html -text
formulaires/editer_almanach.php -text
genie/import_ics_synchro.php -text
/import_ics_administrations.php -text
/import_ics_autorisations.php -text
/import_ics_fonctions.php -text
/import_ics_options.php -text
/import_ics_pipelines.php -text
inc/import_ics.php -text
lang/almanach.xml -text
lang/almanach_fr.php -text
lang/import_ics.xml -text
lang/import_ics_fr.php -text
lang/paquet-import_ics.xml -text
lang/paquet-import_ics_fr.php -text
/paquet.xml -text
prive/listes/corbeille_almanachs.html -text
prive/objets/contenu/almanach.html -text
prive/objets/contenu/article-almanachs.html -text
prive/objets/infos/evenement_liaisons_almanach.html -text
prive/objets/liste/almanachs.html -text
prive/objets/liste/evenements_almanach.html -text
prive/squelettes/contenu/configurer_import_ics.html -text
prive/style_prive_plugin_import_ics.html -text
prive/themes/spip/images/almanach-12.png -text
prive/themes/spip/images/almanach-16.png -text
prive/themes/spip/images/almanach-24.png -text
prive/themes/spip/images/almanach-32.png -text
prive/themes/spip/images/almanach-add-16.png -text
prive/themes/spip/images/almanach-add-24.png -text
prive/themes/spip/images/almanach-add-32.png -text
prive/themes/spip/images/almanach-del-16.png -text
prive/themes/spip/images/almanach-del-24.png -text
prive/themes/spip/images/almanach-del-32.png -text
prive/themes/spip/images/almanach-edit-16.png -text
prive/themes/spip/images/almanach-edit-24.png -text
prive/themes/spip/images/almanach-edit-32.png -text
prive/themes/spip/images/almanach-new-16.png -text
prive/themes/spip/images/almanach-new-24.png -text
prive/themes/spip/images/almanach-new-32.png -text
prive/themes/spip/images/import_ics-128.png -text
prive/themes/spip/images/import_ics-32.png -text
prive/themes/spip/images/import_ics-64.png -text
/todo.txt -text
