* text=auto !eol
aide/verifier.html -text
aide/verifier_fonctions.php -text
images/icones-infos.txt -text
images/verifier-128.png -text
images/verifier-16.png -text svneol=unset#image/png
images/verifier-24.png -text svneol=unset#image/png
images/verifier-32.png -text svneol=unset#image/png
inc/is_email.php -text
inc/verifier.php -text
lang/paquet-verifier.xml -text
lang/paquet-verifier_de.php -text
lang/paquet-verifier_en.php -text
lang/paquet-verifier_es.php -text
lang/paquet-verifier_fr.php -text
lang/paquet-verifier_fr_tu.php -text
lang/paquet-verifier_nl.php -text
lang/paquet-verifier_pt_br.php -text
lang/paquet-verifier_ru.php -text
lang/paquet-verifier_sk.php -text
lang/verifier.xml -text
lang/verifier_ca.php -text
lang/verifier_de.php -text
lang/verifier_en.php -text
lang/verifier_es.php -text
lang/verifier_fa.php -text
lang/verifier_fr.php -text
lang/verifier_fr_tu.php -text
lang/verifier_it.php -text
lang/verifier_nl.php -text
lang/verifier_pt_br.php -text
lang/verifier_ru.php -text
lang/verifier_sk.php -text
/paquet.xml -text
/plugin.xml -text
prive/squelettes/contenu/verifier_doc.html -text
prive/squelettes/navigation/verifier_doc.html -text
prive/style_prive_plugin_verifier.html -text
test/verifier.html -text
verifier/code_postal.php -text
verifier/code_postal.yaml -text
verifier/comparaison_champ.php -text
verifier/comparaison_champ.yaml -text
verifier/couleur.php -text
verifier/couleur.yaml -text
verifier/date.php -text
verifier/date.yaml -text
verifier/decimal.php -text
verifier/decimal.yaml -text
verifier/email.php -text
verifier/email.yaml -text
verifier/entier.php -text
verifier/entier.yaml -text
verifier/fichiers.php -text
verifier/fichiers.yaml -text
verifier/id_document.php -text
verifier/id_document.yaml -text
verifier/id_objet.php -text
verifier/id_objet.yaml -text
verifier/image_upload.php -text
verifier/image_upload_multiple.php -text
verifier/isbn.php -text
verifier/isbn.yaml -text
verifier/password.php -text
verifier/regex.php -text
verifier/regex.yaml -text
verifier/siren_siret.php -text
verifier/siren_siret.yaml -text
verifier/taille.php -text
verifier/taille.yaml -text
verifier/telephone.php -text
verifier/telephone.yaml -text
verifier/url.php -text
verifier/url.yaml -text
/verifier_fonctions.php -text
