* text=auto !eol
action/api_oembed.php -text
action/oembed_nettoyer_iframes.php -text
css/oembed.css -text
formulaires/configurer_oembed.html -text
inc/oembed.php -text
inc/oembed_recuperer_url.php -text
inc/ressource.php -text
javascript/oembed_restaurer_clics_sanitises.js -text
lang/oembed.xml -text
lang/oembed_de.php -text
lang/oembed_en.php -text
lang/oembed_es.php -text
lang/oembed_fr.php -text
lang/oembed_sk.php -text
lang/paquet-oembed.xml -text
lang/paquet-oembed_de.php -text
lang/paquet-oembed_en.php -text
lang/paquet-oembed_es.php -text
lang/paquet-oembed_fr.php -text
lang/paquet-oembed_sk.php -text
lib/php-emoji/emoji.css -text
lib/php-emoji/emoji.php -text
lib/php-emoji/emoji.png -text
modeles/oembed.html -text
modeles/oembed_fonctions.php -text
modeles/oembed_link.html -text
modeles/oembed_photo.html -text
modeles/oembed_rich.html -text
modeles/oembed_video.html -text
modeles/text_oembed.html -text
modeles/toot.html -text
oembed/input/posttraite_api_arte_tv.php -text
oembed/input/posttraite_facebook_video.php -text
oembed/input/posttraite_huffduffer_rich.php -text
oembed/input/posttraite_instagram_rich.php -text
oembed/input/posttraite_issuu.php -text
oembed/input/posttraite_mastodon.php -text
oembed/input/posttraite_oeproxy_default_rich.php -text
oembed/input/posttraite_oeproxy_imdb_rich.php -text
oembed/input/posttraite_office_national_du_film_du_canada_video.php -text
oembed/input/posttraite_rdio_rich.php -text
oembed/input/posttraite_slideshare_rich.php -text
oembed/input/posttraite_soundcloud_rich.php -text
oembed/input/posttraite_twitter.php -text
oembed/input/posttraite_youtube_video.php -text
oembed/input/pretraite_api_arte_tv.php -text
oembed/input/pretraite_publish_twitter_com.php -text
oembed/input/pretraite_www_youtube_com.php -text
oembed/input/vignettes/soundcloud.png -text
oembed/output/json.php -text
oembed/output/modeles/article-photo.json.html -text
oembed/output/modeles/article.json.html -text
oembed/output/xml.php -text
/oembed_administrations.php -text
/oembed_fonctions.php -text
/oembed_pipelines.php -text
/paquet.xml -text
prive/objets/liste/oembed_providers.html -text
prive/squelettes/contenu/configurer_oembed.html -text
prive/themes/spip/images/oembed-16.png -text
prive/themes/spip/images/oembed-24.png -text
prive/themes/spip/images/oembed-32.png -text
prive/themes/spip/images/oembed-64.png -text svneol=unset#unset
prive/themes/spip/images/oembed-xx.svg -text
spip-cli/OembedRecupererData.php -text
