* text=auto !eol
exemple/mesVideos.html -text
formulaires/configurer_videos.html -text
formulaires/insertion_video.html -text
formulaires/insertion_video.php -text
lang/paquet-videos.xml -text
lang/paquet-videos_de.php -text
lang/paquet-videos_en.php -text
lang/paquet-videos_es.php -text
lang/paquet-videos_fr.php -text
lang/paquet-videos_hac.php -text
lang/paquet-videos_pt_br.php -text
lang/paquet-videos_sk.php -text
lang/videos.xml -text
lang/videos_de.php -text
lang/videos_en.php -text
lang/videos_es.php -text
lang/videos_fr.php -text
lang/videos_nl.php -text
lang/videos_pt_br.php -text
lang/videos_sk.php -text
lib/Videopian.php -text
lib/html5media-1.1.8/api/LICENSE -text
lib/html5media-1.1.8/api/expressInstall.swf -text
lib/html5media-1.1.8/api/flowplayer.audio.swf -text
lib/html5media-1.1.8/api/flowplayer.controls.swf -text
lib/html5media-1.1.8/api/flowplayer.swf -text
lib/html5media-1.1.8/api/html5media.js -text
lib/html5media-1.1.8/api/html5media.min.js -text
modeles/emb_dist_cubox.html -text
modeles/emb_dist_daily.html -text
modeles/emb_dist_vimeo.html -text
modeles/emb_dist_youtu.html -text
modeles/video.html -text
noisettes/balise_video_html5.html -text
/paquet.xml -text
prive/contenu/videos_affiche_boite.html -text
prive/exec/configurer_videos.html -text
prive/themes/spip/images/videos-16.png -text
prive/themes/spip/images/videos-24.png -text
prive/vignettes/dist_cubox.png -text
prive/vignettes/dist_daily.png -text
prive/vignettes/dist_vimeo.png -text
prive/vignettes/dist_youtu.png -text
prive/vignettes/mp4.png -text
theme/css/videos.css -text
theme/img/videos-128.png -text
theme/img/videos-16.png -text
theme/img/videos-24.png -text
theme/img/videos-32.png -text
theme/img/videos-64.png -text
/videos_administrations.php -text
/videos_pipelines.php -text
vignettes/dist_cubox.png -text
vignettes/dist_daily.png -text
vignettes/dist_vimeo.png -text
vignettes/dist_youtu.png -text
vignettes/mp4.png -text
